// color library
$concrete: #F3F3F3;
$mine-shaft: #212121;
$white: #FFFFFF;
$black: #000000;
$athens-gray: #F3F3F4;
$silver: #BDBDBD;
$boulder: #757575;
$lochmara: #007CBA;
$pomegranate: #F44336;
$link: #2196F3;
$link-hover: #1976D2;